<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% extends 'base.html' %}
<body>
{% block content %}
<h2>Add rack here</h2>
    <form action="{% url 'add_rack' %}" method="post" >
        {% csrf_token %}
        {{ form2 }}
        <input type="submit" value="Add Rack">
    </form>
{% endblock %}

</body>
</html>