<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fishlines</title>
</head>
<body>
{% extends 'base.html' %}

{% block title %}Fishlines{% endblock %}

{% block content %}
<h1>Detail page for fishline {{fishline}}</h1>
    Stock of fishline {{fishline.name}}:
    <ul>{% for stock in fishline.stock_set.all %}
        <li>
            Born: {{stock.d_o_b}}
        </li>
        <ul>
        Substock:
            {% for substock in stock.substock_set.all %}
                <li>ID: {{substock.substock_id}}</li>
                <li>Count: {{substock.count}}</li>
                <li>Position: {{substock.position}}</li>
                </br>
            {% endfor %}
        </ul>
        {% endfor %}
    </ul>
</ul>
{% endblock %}
</body>
</html>