<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% extends 'base.html' %}
{% load render_table from django_tables2 %}

<body>
{% block content %}
{{ objects.table }}
{% render_table table%}
{% endblock %}
</body>
</html>