<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

Rack :{{ rack.rackname }} </br>
Located in room: {{rack.room}}

<!--creates table automatically based on number of rows and columns in rack-->

<table id={{rack.rackname}} class="table">
{% with ''|center:rack.row_count as range1 %}
    <thead><tr>
        {% with ''|center:rack.col_count as range2 %}
        <th scope="col">X</th>
{% for _ in range2 %}
        <th scope="col">col {{forloop.counter}}</th>
    {% endfor %}
        {% endwith %}
        </tr></thead>
    {% for _ in range1 %}
    <tr>
        <th scope="row">row {{forloop.counter}}</th>
        {% with ''|center:rack.col_count as range2 %}
        {% for _ in range2 %}
        <td id={{forloop.counter}}>
            empty
        </td>
        {% endfor %}
        {% endwith %}
    </tr>
{% endfor %}
{% endwith %}</br>
</table>
</br>

{% for position in rack.position_set.all %}
<script> ro = {{position.row}}
    co = {{position.column}}
    table = "{{rack.rackname}}"

</script>
{% if position.substock %}
<script>
sub = "{{position.substock.stock}}"
pos= {{position.substock.substock_id}}
var row = document.getElementById(table).rows[(ro)].cells;
row[(co)].innerHTML=sub
</script>

{% else %}
<script>
var row = document.getElementById(table).rows[(ro)].cells;
row[(co)].innerHTML="empty"
</script>

{% endif %}
{% endfor %}

List of Substock in rack {{rack.rackname}}:

<!--adds info about Substock into the table according to substock's postion-->

{% endblock %}

</body>
</html>