<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rooms</title>
</head>
<body>
{% extends 'base.html' %}

{% block title %}Rooms{% endblock %}

{% block content %}
<ul>
{% for room in room_list %}
    <li>Room: {{room}}, racks in room: {% for rack in room.rack_set.all %} <a href="{% url 'rack' rack.id %}">{{rack}}</a>, {% endfor %}</li>
{% endfor %}
</ul>


{% endblock %}


</body>
</html>