<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}

{% block title %}Login{% endblock %}


{% endblock %}
Substock position:</br>
Rack: {{substock.position.rack.room}}</br>
Rack: {{substock.position.rack}}</br>
Row: {{substock.position.row}}</br>
Column: {{substock.position.column}}</br>

{% block content %}

</body>
</html>